.results-container {
  width: 100%;
  text-align: center;
}
.btn-play {
  margin: 30px 0;
  display: block;
}
.button-wrapper {
  position: absolute;
  bottom: 60px;
  width: 100%;
  text-align: center;
}
